@import url(http://fonts.googleapis.com/css?family=Bad+Script);
@import url('http://fonts.googleapis.com/css?family=Hind');

@media screen only and (min-width: 100em) {
body {
	color: #2E0854;
	background-color: #FFF;
	/*background-image: url("assets/limebbq.jpg");*/
	background-size: cover;
	font-family: 'Hind', sans-serif;
	
}
a {
   color: #153E7E;
   text-decoration: none;
}

nav {
   background-color: black;
   width: 100px; 
}

nav ul {
   text-align: center;
   /* width: 100px; */
   /* margin-left: 20px; */
}

nav ul li {
 	line-height: 50px;
   height: 50px;
   text-align: center;
   width: 80px;
   display: block;
   float: left;
}

nav a {
   background-color: #6B78B4; 
   color: #593E1A;
   display: block;
   font-size: 1.5em;
   text-align: center;
   padding: 30px 0;
}

nav a:hover {
   background-color: #FFCF79;
}


h1 {color:#2E0854;
	text-align: center;
	font-family: 'Bad Script', cursive;
	font-size: 2em ;
	margin: 0 auto;
	font-weight: 400;
	padding: 10px;
}

 p {font-size: 1em ;
	margin: 30px, 0;
	font-weight: 400;
	padding: 0;
	text-align: left;
	font-family: 'Hind', sans-serif;
}


}
/* p {
	max-width: 30em;
	font-family: 'Hind', sans-serif;
	margin: 20px 0 ;
	padding: -20px;
	text-align: center; */

}

div{
	width: 500px;
	overflow: hidden;
}

/*ul{
	margin: 0;

}*/

/* img{
	width: 80%;
 } */


 .resize {
 	width: 200px;
 	padding-bottom: 10px;

 }

.clearfix {
	clear:both;
}


.thumbnail{
	position: relative;
	
	/* background-size: cover; */
}


#slogan {
	color: #2E0854;
}


/* #main {
	width: 800px;
	margin: 0 auto;
}*/

 #main 
img 
{
max-width: 500px;
max-height: 500px;
margin: 0 auto;
display:block;
} 

}

