@import url(http://fonts.googleapis.com/css?family=Bad+Script);
@import url('http://fonts.googleapis.com/css?family=Hind');
* { margin:0;padding:0;box-sizing:border-box; }

body {
	color: #2E0854;
	background-color: #FFF;
	font-family: 'Hind', sans-serif;
	
}
a {
   color: #153E7E;
   text-decoration: none;
}
nav {
   margin: 0 auto;
   width: 100%;
   max-width: 450px;
}


nav ul li {
   display: block;
   float: left;
   width: 33.33%;

}

nav a {
   background-color: #6B78B4; 
   color: #593E1A;
   display: block;
   font-size: 1.5em;
   text-align: center;
   padding: 5px 0;
}

nav a:hover {
   background-color: #FFCF79;
}


h1 {
	color:#2E0854;
	text-align: center;
	font-family: 'Bad Script', cursive;
	font-size: 1.5em;
	margin: 0 auto;
	font-weight: 400;
	padding: 1em;
}

 p {
 	font-size: 1em;
	margin: 2em 0;
	font-weight: 400;
	padding: 0px;
	text-align: left;
	font-family: 'Hind', sans-serif;
}


}
.hero {
	width:100%;
}
 .resize {
 	/* width:100%; */
 	height: 150px;
 	display: block;
 	margin: auto;
 	
 }

.clearfix {
	clear:both;
}

#slogan {
	color: #2E0854;
}


main {
	width: 60%;
	margin: 0 auto;
}

@media screen and (max-width: 500px) {

#main {
	width: 100%;

}



}





