@import url(http://fonts.googleapis.com/css?family=Bad+Script);
@import url('http://fonts.googleapis.com/css?family=Hind');

body {
	color: #2E0854;
	background-color: #FFF;
	/*background-image: url("assets/limebbq.jpg");*/
	background-size: cover;
	font-family: 'Hind', sans-serif;
	
}
	a {
   color: #153E7E;
   text-decoration: none;
}

nav {
   background-color: black;
   width: 50%;
}

nav ul {
   background-color: black;
   width: 100%;
   margin-left: 30px;
   list-style: none;
}

nav ul li {
   background-color: black;
   display: block;
   float: right;
   width: 30%;
}

nav a {
   background-color: #6B78B4;
   color: #593E1A;
   display: block;
   font-size: 24px;
   text-align: center;
   padding: -20px 0;
}

nav a:hover {
   background-color: #FFCF79;
}

h1 {color:#2E0854;
	text-align: center;
	font-family: 'Bad Script', cursive;
	font-size: 25px ;
	margin: 50px 0 0;
	font-weight: 400;
	padding: 30px;
}

 h2 {font-size: 18px ;
	margin: 50px 0 0;
	font-weight: 400;
	padding: -20px 0;
	text-align: center;

}


}
/* p {
	max-width: 30em;
	font-family: 'Hind', sans-serif;
	margin: 20px 0 ;
	padding: -20px;
	text-align: center; */

}

div{
	width: 100%;
	overflow: hidden;
}

ul{
	margin: 0;
}

img{
	width: 80%;
 }

 .resize {
 	width: 33.33%
 }


.thumbnail{
	width: 100%;
	float: left;
	margin: 1%;

}


#slogan {
	color: #2E0854;
}


}

#main {
	width: 800px;
	margin: 0 auto;
}

#main 
img 
{
max-width: 100%;
max-height: 100%;
margin: 0 auto;
display:block;
}

