

body {
	color: #2E0854;
	background-color: #000000;
	background-image: url("assets/limebbq.jpg");
	background-size: cover;
}
h1 {color:#2E0854;
text-align: center;
font-size: 48px ;
}

p {
	color: #;
	font-family: 'Hind', sans-serif;
}
#slogan {color: #2E0854;}
